.wp-block-multi-block-mayhem-image-collage:not(.mbm-editor) {
	display: grid;
	grid-template-columns: repeat(
		var(--mbm-image-collage-cols, 3),
		minmax(0, 1fr)
	);
	grid-gap: var(--mbm-image-collage-gap, 1rem);
}
