.wp-block-multi-block-mayhem-mosaic-gallery.multi-block-mayhem-editor {
    .block-editor-inner-blocks {
        .block-editor-block-list__layout {
            column-count: var(--mosaic-cols, 3);
            column-gap: var(--mosaic-gap, 1rem);

            .wp-block-image {
                margin-bottom: var(--mosaic-gap, 1rem);
            }
        }
    }
}