.wp-block-multi-block-mayhem-mosaic-gallery.mbm-editor {
	.block-editor-inner-blocks .block-editor-block-list__layout {
		column-count: var(--mbm-mosaic-gallery-cols, 3);
		column-gap: var(--mbm-mosaic-gallery-gap, 1rem);
	}

	.wp-block-image {
		margin-bottom: var(--mbm-mosaic-gallery-gap, 1rem);

		img {
			border-radius: var(--mbm-mosaic-gallery-radius, 0);
		}
	}
}
