.wp-block-multi-block-mayhem-mosaic-gallery:not(.multi-block-mayhem-editor) {
    column-count: var(--mosaic-cols, 3);
    column-gap: var(--mosaic-gap, 1rem);

    .wp-block-image {
        margin-bottom: var(--mosaic-gap, 1rem);
    }
}
