.wp-block-multi-block-mayhem-image-collage-image:not(.mbm-editor) {
	overflow: hidden;
	border-radius: var(--mbm-image-collage-radius);
	aspect-ratio: var(--mbm-image-collage-aspect-ratio);
	grid-column: span var(--mbm-image-collage-col-span) / span
		var(--mbm-image-collage-col-span);
	grid-row: span var(--mbm-image-collage-col-span) / span
		var(--mbm-image-collage-col-span);

	div {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #191919;
	}
}
