/**
 * Image Collage Editor Styles
 */

.wp-block.wp-block-mbm-swatch-cards {

	.block-editor-inner-blocks {


		.block-editor-block-list__layout {
			display: grid;
			grid-template-columns: repeat(var(--mb-mayhem-swatch-cards-cols), minmax(0, 1fr));
			grid-gap: var(--mb-mayhem-swatch-cards-gap);
		}
	}
}
