<?php
{{#isInteractiveVariant}}
wp_interactivity_state(
	'{{slug}}',
	array()
);

$context = array();
?>
<p <?php echo wp_kses_data( get_block_wrapper_attributes() ); ?>
	data-wp-interactive="{{slug}}"
	<?php echo wp_interactivity_data_wp_context( $context ); ?>
>
	<?php esc_html_e( '{{title}} – hello from an interactive block!', '{{textdomain}}' ); ?>
</p>
{{/isInteractiveVariant}}
{{#isDynamicVariant}}
?>
<p <?php echo wp_kses_data( get_block_wrapper_attributes() ); ?>>
	<?php esc_html_e( '{{title}} – hello from a dynamic block!', '{{textdomain}}' ); ?>
</p>
{{/isDynamicVariant}}