import { useBlockProps } from '@wordpress/block-editor';

export default function save() {
	return (
		<div {...useBlockProps.save()}>
			<p>{'Hero Banner (static block) on the frontend'}</p>
		</div>
	);
}
