{{#isStaticVariant}}
import { useBlockProps } from '@wordpress/block-editor';

export default function save() {
	return (
		<div {...useBlockProps.save()}>
			<p>{'Static block frontend'}</p>
		</div>
	);
}
{{/isStaticVariant}}

{{#isDynamicVariant}}
import { InnerBlocks } from '@wordpress/block-editor'

export default function save() {
  return <InnerBlocks.Content />
}
{{/isDynamicVariant}}