/**
 * WordPress dependencies
 */
import { store, getContext } from '@wordpress/interactivity';

const { state } = store('interactivity', {
	state: {
		// Define a getter that returns different text based on the theme.
	},
	actions: {
		// Define an action that toggles the theme.
	},
	callbacks: {
		// Define a callback that logs the value of `isOpen` each time it changes.
	},
});
