/**
 * Image Collage Single Item Editor Styles
 */

// Define a placeholder selector with the shared properties
%shared-swatch-cards-styles {
	border-radius: var(--mbm-swatch-cards-radius);
	aspect-ratio: var(--mbm-swatch-cards-aspect-ratio);
	grid-column:
		span var(--mbm-swatch-cards-col-span) / span
		var(--mbm-swatch-cards-col-span);
	grid-row:
		span var(--mbm-swatch-cards-col-span) / span
		var(--mbm-swatch-cards-col-span);
}

.wp-block.wp-block-multi-block-mayhem-swatch-cards-image.multi-block-mayhem-placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	text-align: center;
	background-color: #e0e0e0;

	@extend %shared-swatch-cards-styles;
}

.wp-block.wp-block-multi-block-mayhem-swatch-cards-image.multi-block-mayhem-editor {
	overflow: hidden;

	@extend %shared-swatch-cards-styles;

	div {
		width: 100%;
		height: 100%;
	}
}
