.wp-block-multi-block-mayhem-mosaic-gallery.multi-block-mayhem-editor {

	.block-editor-inner-blocks .block-editor-block-list__layout {
		column-count: var(--mb-mayhem-mosaic-gallery-cols, 3);
		column-gap: var(--wp--style--block-gap, 0.5em);
	}

	.wp-block-image {
		break-inside: avoid;
		margin-bottom: var(--wp--style--block-gap, 0.5em);
	}
}
