.wp-block-multi-block-mayhem-mosaic-gallery:not(.multi-block-mayhem-editor) {
	column-count: var(--mb-mayhem-mosaic-gallery-cols, 3);
	column-gap: var(--wp--style--block-gap, 0.5em);

	.wp-block-image {
		break-inside: avoid;
		margin-bottom: var(--wp--style--block-gap, 0.5em);
	}
}
