.wp-block-multi-block-mayhem-mosaic-gallery:not(.multi-block-mayhem-editor) {
	column-count: var(--mb-mayhem-mosaic-gallery-cols, 3);
	column-gap: var(--mb-mayhem-mosaic-gallery-gap, 1rem);

	.wp-block-image {
		break-inside: avoid;
		margin-bottom: var(--mb-mayhem-mosaic-gallery-gap, 1rem);

		img {
			border-radius: var(--mb-mayhem-mosaic-gallery-radius, 0);
		}
	}
}
