.wp-block-multi-block-mayhem-promo-cards-content {
	border-radius: var(--mbm-promo-cards-radius);
	aspect-ratio: var(--mbm-promo-cards-aspect-ratio);
	grid-column: span var(--mbm-image-collage-col-span) / span
		var(--mbm-image-collage-col-span);
	grid-row: span var(--mbm-image-collage-col-span) / span
		var(--mbm-image-collage-col-span);
	background-color: #e3e3e3;
}
